.aside-element {
  padding: 15px 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.aside-element-light:hover {
  background: #f2f7fa;
  color: #1789F5;
}
.aside-element-highlighted-light {
  background: #f2f7fa;
  color: #1789F5;
}
.aside-element-dark:hover, .aside-element-highlighted-dark {
  background: #474e56;
  color: #479dc8;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.icon-container {
  height: 27px;
  transition: all .5s ease-in-out;
}

.icon-to-the-right {
  margin-left: 178px;
}
