.aside-container {
  position: fixed;
  left: 0px;
  width: 270px;
  height: 100%;
  font-size: 18px;
  padding: 20px 0;
  z-index: 1;
  transition: left .5s ease-in-out;
  overflow-x: hidden;
}
.aside-container-hidden {
  left: -210px;
}
.aside-container-light {
  background: #ffffff;
  color: #95989A;
  box-shadow: 1px 0px 3px #eee;
}
.aside-container-dark {
  background: #1f2831;
  box-shadow: 1px 0px 3px #1f2831;
}

.aside-head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.aside-head > i {
  margin-left: 50px;
  margin-right: 30px;
}

.aside-icons > div {
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  justify-content: space-around;
}
.aside-icons > hr {
  width: 30%;
}

.aside-navigation {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.icon {
  cursor: pointer;
}
.icon-light {
  color: #95989a;
}
.icon-dark {
  color: white;
}

.aside-logo-container {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
}

.aside-footer-info {
  margin-left: 40px;
  color: white;
}
