.dashboard-light {

}
.dashboard-light > .notificationbox-container {
  background: #d2f0d9;
  border: 2px solid #82db84;
  color: rgb(77, 206, 101);
}
.dashboard-dark > .notificationbox-container {
  background: rgb(67, 99, 83);
  border: 2px solid rgb(66, 106, 82);
  color: rgb(77, 206, 101);
}

.dashboard-light .bodybox-container {
  background: white;
  -webkit-box-shadow: 1px 1px 20px 0px #f2f7fa;
  -moz-box-shadow: 1px 1px 20px 0px #f2f7fa;
  box-shadow: 1px 1px 20px 0px #f2f7fa;
}
.dashboard-dark .bodybox-container {
  background: #1f2831;
}


.dashboard-masonry {
  /*display: flex;*/
  /*-moz-column-width: 100px;
   -webkit-column-width: 100px;
   overflow: hidden;*/
  /*display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;*/
  column-gap: 1em;
}

@media only screen and (max-width: 1366px) {
    .dashboard-masonry {
        column-count: 1;
    }
}

@media only screen and (min-width: 1367px) {
    .dashboard-masonry {
        column-count: 2;
    }
}
