.orders-section-container {
  width: 100%;
}

.dcd-row {
  display: flex;
  height: 70px;
}

.dcd-data {
  width: 33%;
  margin: 10px;
  display: flex;
  align-items: center;
}

.dcd-data > div {
  margin: 5px;
}

.dcd-data > div:nth-child(1) {
  text-align: right;
  width: 27%;
}
.dcd-data > div:nth-child(2) {
  width: 54%;
}
.dcd-data > div:nth-child(3) {
  text-align: left;
  width: 10%;
}

.dcd-item-part input {
  border-radius: 10px;
}

.dcd-buttons-group-bottom {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}
.dcd-buttons-group-bottom > button {
  margin-right: 230px;
}

.orders-section-container > hr {
  margin: 60px;
}

.dcd-table-container-light {
  background: white;
}
.dcd-table-container-dark {
  background: #4A4E56;
}

.dcd-table {
  width: 100%;
  text-align: center;
  border-collapse:separate;
  border: 3px solid #f2f7fA;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
.dcd-table-dark {
  border: 3px solid #A9B1B6;
}

.dcd-table th, .dcd-table td {
  padding: 41px 0;
  border-left: 3px solid #f2f7fA;
  border-top: 3px solid #f2f7fA;
}
.dcd-table-dark th, .dcd-table-dark td {
  border-left: 3px solid #A9B1B6;
  border-top: 3px solid #A9B1B6;
}

.dcd-table th {
    text-align: center;
    border-top: none;
}

.dcd-table td:first-child, .dcd-table th:first-child {
     border-left: none;
}

.dcd-table-data-grey {
  color: grey;
  font-family: OpenSans-Bold;
}
.dcd-table-data {
  color: #1789F5;
  font-family: OpenSans-Bold;
}

.dcd-container-dark .bootstrap-switch {
  border-color: #4A4E56;
}

.dcd-container-dark .dt-input > input {
  color: #A9B1B6;
}

.dcd-item-part .dropdown {
  width: 100%;
}
.dcd-item-part .dropdown > button {
  color: grey;
}

.dcd-table tbody tr td {
  padding: 0;
}
.dcd-table tbody tr:nth-child(1) td, .dcd-table tbody tr:nth-child(2) td  {
  height: 26px;
}
.dcd-table tbody tr:nth-child(3) td, .dcd-table tbody tr:nth-child(4) td, .dcd-table tbody tr:nth-child(5) td {
  height: 52px;
}
