.fx-option-instruments, .fx-option-characteristics {
  display: flex;
}

.fx-option-instruments {
  margin-bottom: 50px;
}

.fx-option-characteristics {
  margin-top: 50px;
}

.fx-option-dropdown-dark {
  background: #777;
  border-color: #4A4E56;
}

.orders-section-container .dropdown-button {
  width: 100%;
}

.orders-section-container .dropdown-button, .orders-section-container input {
  height: 50px;
}

.dropdown-button {
  border-radius: 10px;
}

.fx-option-row {
  display: flex;
}

.fx-option-data {
  display: flex;
  width: 30%;
  margin: 10px;
  align-items: center;
}

.fx-option-item-part {
  width: auto;
  margin: 0 5px;
}
.fx-option-item-part input {
  width: 100%;
  border-radius: 10px;
  color: #A9B1B6;
}

.fx-option-item-part > DropdownButton {
  border-radius: 10px;
}

.fx-option-item-part .dropdown {
  width: 100%;
}

.fx-option-col1 {
  width: 33%;
}
.fx-option-col2 {
  width: 30%;
}
.fx-option-item-part:nth-child(1) {
  width: 27%;
  text-align: right;
}
.fx-option-item-part:nth-child(2) {
  width: 54%;
}
.fx-option-item-part:nth-child(3) {
  width: 21%;
  text-align: left;
}
.fx-option-col1 > div:nth-child(3) {
  width: 10%;
}
.fx-option-col2 > div:nth-child(1) {
  width: 19%;
}
.fx-option-col2 > div:nth-child(2) {
  width: 49%;
}

.orders-container > hr {
  width: 90%;
  margin: 60px;
}

.blue-input input {
  color: #1789F5;
}

.fx-option-small-note {
  font-size: 12px;
}
.fx-option-small-note > span {
  color: black;
  font-weight: bold;
}

.fx-option-action-buttons-container {
  justify-content: flex-end;
}
.fx-option-action-buttons-container button {
  margin-left: 10px;
}

.fx-option-container-dark .bootstrap-switch {
  border-color: #4A4E56;
}
