.fx-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fx-col {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.fx-item-container {
  width: 94%;
  margin: 5%;
  border-radius: 10px;

}
.fx-item-container-light {
  box-shadow: 8px 8px 14px #eee;
  background-color: white;
}

.fx-item-container-dark {
  background-color: #1f2831;
}
.fx-item-container-dark .bootstrap-switch {
  border: 1px solid #1f2831;
}
.fx-item-container-dark input,
.fx-item-container-dark .fx-item-date,
.fx-item-container-dark .buy-sell-fields-tab-middle-middle,
.fx-item-container-dark .buy-sell-fields-tab-right,
.fx-item-container-dark .buy-sell-fields-tab-left {
  border: 1px solid #1f2831;
  /*background-color: rgb(90, 96, 102);*/
  background-color: #777;
}

.fx-flipcard {
  width: 100%;
  height: 340px;
  padding: 0 20px;
}
.fx-flipcard-active {
  /*height: 400px;*/
  height: 340px;
  background: rgb(231,243,254);
}
.fx-item-container-dark > .fx-flipcard-active {
  background: #555;
  border-radius: 10px;
}

.fx-flipcard-active .fx-item-date {
  background: white;
}
.fx-item-container-dark > .fx-flipcard-active .fx-item-date {
  background: #777;
}

.fx-item-header {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.fx-item-header > span {
  flex-grow: 1;
  text-align: center;
}

.fx-item-header-backflip {
  padding-top: 20px;
}
.fx-item-header-backflip > div:first-child {
  display: flex;
  align-items: center;
}

.fx-item-header-backflip > div:first-child > span {
  flex-grow: 1;
  text-align: center;
}

.fx-item-buysell-extra-labels-backflip {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.fx-item-buysell-extra-labels-backflip > div:nth-child(1) {
  margin-left: 10px;
}
.fx-item-buysell-extra-labels-backflip > div:nth-child(2) {
  margin-right: 10px;
}

.fx-item-body input {
  height: 50px;
}
.fx-item-body input:nth-child(2) {
  margin-top: 20px;
}

.fx-item-body > div:first-child {
  display: flex;
  align-items: center;
}

.fx-item-body .toggle-input {
  margin-left: 20px;
}

.fx-item-date {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.fx-item-date > span {
  margin-left: 12px;
  flex-grow: 1;
}
.flip-card-calendar {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.flip-card-calendar-light {
  background: black;
}
.flip-card-calendar-dark {
  background: white;
}

.fx-item-cur-label {
  width: 120px;
  margin-left: 20px;
  font-family: OpenSans-ExtraBold;
  font-size: 18px;
}
.fx-item-cur-label-active {
  color: rgb(77,79,80);
}

.actions-container {
  text-align: center;
  margin-top: 25px;
  height: 40px;
}
.fx-item-forward-tenor-button-container > button {
  margin: 0 auto;
  width: 180px;
}

.blue-icon {
  color: #1789F5;
}

.fx-item-backflip {
  display: flex;
  flex-direction: column;
  height: 92%;
}
.fx-item-backflip > div:first-child {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.backflip-buysell-item-container {
  margin: 10px 0;
  width: 100%;
  height: 70px;
}

.fx-item-buysell-container {
  width: 100%;
  height: 70px;
}
.fx-item-buysell-extra-labels {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.fx-item-buysell-extra-labels > div:nth-child(1) {
  margin-left: 10px;
}
.fx-item-buysell-extra-labels > div:nth-child(2) {
  margin-right: 10px;
}

.front-flip-time {
  margin-top: 20px;
  text-align: right;
  margin-right: 5px;
  font-size: 10px;
}

.backflip-bottom-actions-container {
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.backflip-calendar {
  margin-right: 20px;
}

.backflip-calendar, .backflip-calendar input {
  margin-top: 0 !important;
}
.backflip-calendar input {
  height: 100%;
  width: 100%;
}
.backflip-calendar > .calendar-icon {
  width: 15px;
  height: 15px;
  top: 10px;
  right: 10px;
}

.fx-item-body-tb3 {
  flex-grow: 1;
}

.backflip-current-date {
  margin-top: 5px;
  text-align: right;
}
.backflip-current-date > span {
  margin-right: 25px;
  font-size: 10px;
}
