.loan-depo-instruments, .loan-depo-characteristics {
  display: flex;
}

.loan-depo-instruments {
  margin-bottom: 50px;
}

.loan-depo-characteristics {
  margin-top: 50px;
}

.orders-section-container .dropdown-button {
  width: 100%;
}

.orders-section-container .dropdown-button, .orders-section-container input {
  height: 50px;
}

.loan-depo-row {
  display: flex;
}

.loan-depo-data {
  display: flex;
  width: 30%;
  margin: 10px;
  align-items: center;
}

.loan-depo-item-part {
  width: auto;
  margin: 0 5px;
  border-radius: 10px;
}
.loan-depo-item-part input {
  width: 100%;
  border-radius: 10px;
  color: #A9B1B6;
}
.loan-depo-item-part .dropdown {
  width: 100%;
}
.loan-depo-item-part .dropdown > button {
  color: grey;
}

.loan-depo-col1 {
  width: 33%;
}
.loan-depo-col2 {
  width: 30%;
}
.loan-depo-item-part:nth-child(1) {
  width: 27%;
  text-align: right;
}
.loan-depo-item-part:nth-child(2) {
  width: 54%;
}
.loan-depo-item-part:nth-child(3) {
  width: 21%;
  text-align: left;
}
.loan-depo-col1 > div:nth-child(3) {
  width: 10%;
}
.loan-depo-col2 > div:nth-child(1) {
  width: 19%;
}
.loan-depo-col2 > div:nth-child(2) {
  width: 49%;
}

.orders-section-container > hr {
  width: 90%;
  margin: 60px;
}

.blue-input input {
  color: #1789F5;
  border-radius: 10px;
}

.loan-depo-small-note {
  font-size: 12px;
}
.loan-depo-small-note > span {
  color: black;
  font-weight: bold;
}

.loan-depo-action-buttons-container {
  justify-content: flex-end;
}
.loan-depo-action-buttons-container button {
  margin-left: 10px;
}

.loan-depo-buttons-group-bottom {
  margin-top: 40px;
  justify-content: flex-end;
}
.loan-depo-buttons-group-bottom > button {
  margin-left: 20px;
}

.loan-depo-price-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.color-gold {
  color: #ffc400;
}

.loan-depo-container-dark .bootstrap-switch {
  border-color: #4A4E56;
}

.loan-depo-dropdown-dark {
  background: #777;
  border-color: #4A4E56;
}
