.st-char-button {
  color: white;
  width: 130px;
  border: 0px;  
  border-radius: 8px;
  padding: 10px 25px;
  font-family: OpenSans-Bold;
}

.st-char-button-light {
  -webkit-box-shadow: 1px 1px 10px 0px #f2f7fa;
  -moz-box-shadow: 1px 1px 10px 0px #f2f7fa;
  box-shadow: 1px 1px 10px 0px #f2f7fa;
}

.st-char-button-blue {
  background-color: #1789F5;
}
.st-char-button-grey {
  background-color: #95989A;
}
.st-char-button-orange {
  background-color: #FFC400;
}
.st-char-button-green {
  background-color: rgb(48, 199, 83);
}
