.header-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.header-container-light, .header-container-light .header-profile-dropdown {
  background: white;
}
.header-container-dark, .header-container-dark .header-profile-dropdown {
  background: #1f2831;
  color: #479dc8;
}


.header-item {
  margin-right: 30px;
}

.header-profile-dropdown {
  border: 0px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}


.dropdown-profile-photo {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  clip-path: circle(20px at center);
}

.header-container-pull-right> span {
  margin-right: 20px;
}

.header-search {
  display: flex;
  position: fixed;
  left: 257px;
  z-index: 2;
  transition: left .5s ease-in-out;
}
.header-search-navigation-hidden {
  left: 46px;
}

.header-content {
  flex-grow: 1;
  padding-left: 100px;
}

.header-search > div {
  background: white;
  box-shadow: 1px 0px 3px #eee;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.header-search > div > i {
  margin: 0 auto;
}
.header-search > input {
  border-radius: 10px;
}

.header-container-pull-right {
  position: fixed;
  right: 0;
}
