.bodybox-container {
  /*flex-grow: 1;*/
  margin: 15px;
  padding: 41px 50px;
  width: 46%;
  border-radius: 8px;
  font-size: 14px;
  overflow-x: hidden;
  display: inline-block;
  /*float: left;*/
  width: 100%;
}

.bodybox-head {
  display: flex;
  align-items: center;
}
.bodybox-head > div {
  flex-grow: 1;
  font-weight: bold;
}

.bodybox-body {
  margin-top: 24px;
}

.bodybox-threedot {
  cursor: pointer;
}
