.text-input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-image: initial;
  border-radius: 4px;
  border-radius: 10px;
}

.toggle-input {
  height: 50px;
}
.bootstrap-switch {
  border-radius: 10px !important;
  width: 100%;
}
.bootstrap-switch-container {
  width: 100%;
}

.dt-input {
  position: relative;
}

.dt-input  input {
  border-radius: 10px;
}

.dt-calendar-icon-container {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 0;
}

.dt-calendar-icon {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
}
.dt-calendar-icon-light {
  background: black;
}
.dt-calendar-icon-dark {
  background: white;
}

.dt-input input  {
  padding-right:  30px;
}

.day-picker-container {
  position: absolute;
  background: white;
  z-index: 2;
}

.rs-input{
  width: 100%;
  height: 50px;
}
.rs-input > .Select-control {
  height: 100%;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
}
.rs-input > .Select-control .Select-placeholder {
  margin-top: 7px;
}
.rs-input > .Select-control .Select-input input {
  margin-top: 0;
  height: 100%;
}
