.bonds-row {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.bonds-data-trisection, .bonds-data {
  width: 50%;
  display: flex;
  align-items: center;
}

.bonds-data-trisection > div:nth-child(1) {
  text-align: right;
  margin-right: 20px;
  width: 20%;
}
.bonds-data-trisection > div:nth-child(2) {
  flex-grow: 1;
  width: 65%;
}
.bonds-data-trisection > div:nth-child(3) {
  text-align: left;
  margin-left: 20px;
  width: 10%;
}

.bonds-item-part input {
  border-radius: 10px;
  color: #A9B1B6;
}

.bonds-item-part:nth-child(1) {
  width: 25%;
  text-align: right;
  margin-right: 20px;
}

.bonds-item-part:nth-child(2) {
  width: 65%;
}

.bonds-item-part-non-standard {
  display: flex;
  width: 65%;
  align-items: center;
}

.bonds-row-right {
  display: flex;
  justify-content: flex-end;
  height: 70px;
}

.bonds-counterparty-section {
  display: flex;
  align-items: center;
}

.bonds-item-part-non-standard > div:nth-child(2) {
  margin: 0 20px;
  flex-grow: 1;
  text-align: right;
}

.bonds-buttons-group-bottom {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}
.bonds-buttons-group-bottom > button {
  margin-left: 20px;
}
