.accounts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 35px;
  padding-right: 45px;
}

.accounts-head {
  display: flex;
  height: 3%;
  font: 24px Helvetica;
  color: #BAB9BA;
}

.accounts-body {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  height: 97%;
  width: 100%;
}

.accounts-box {
  margin-top: 20px;
  width: 48%;
}

.account-box-head {
  font: 700 12px Helvetica;
  color: #BAB9BA;
  padding-bottom: 10px;
}

.accounts-box-body {
  background: #FFFFFF;
  box-shadow: 0 0 20px #EBE6E3;
}

.dashboard {
  margin-left: 10px;
}

.dots {
  color: #BAB9BA;
  padding-top: 10px;
  padding-right: 20px;
  text-align: right;
}

.account-card {
  display: flex;
  flex-direction: column;
  font: 700 12px Helvetica;
  color: #BAB9BA;
  padding-left: 50px;
  padding-bottom: 20px;
  width: 100%;
}

.account-card-top,  .account-card-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.account-card-bottom {
  padding-top: 10px;
}

.account-card-top-icon {
  width: 30%;
}

.account-card-top-body {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.account-card-data {
  font: 700 12px Helvetica;
  color: #5B5653;
  padding-left: 10px;
}

.account-card-data-rating {
  font: 700 12px Helvetica;
  color: #DCA65A;
  padding-left: 10px;
}

.account-card-data-tier {
  font: 700 12px Helvetica;
  color: #9C9FA1;
  padding-left: 10px;
}

.contact {
  margin-left: 15px;
}

.contact-icon {
  text-align: center;
  color: #DCA65A;
}

.icon-news {
  color:  #DCA65A;
  padding-right: 10px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 40px 50px 30px;
}

.news-item {
  display: flex;
  flex-direction: row;
  font: 700 12px Helvetica;
  color: #BAB9BA;
  padding-top: 10px;
}

.news-item-last {
  font: 700 14px Helvetica;
  color: #6DD0CE;
}

.news-item-last2 {
  font: 700 14px Helvetica;
  color: #E4758A;
}
