@font-face {
    font-family: OpenSans-Regular;
    src: url(./assets/ui_kit/Fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(./assets/ui_kit/Fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(./assets/ui_kit/Fonts/OpenSans-ExtraBold.ttf);
}

.app-container {
  font-family: OpenSans-Regular;
}
.theme-light {
  color: #95989A;
}
.theme-dark {
  color: #A9B1B6;
}

.main-container {
  padding-left: 270px;
  transition: all .5s ease-in-out;
}
.main-container-navigation-hidden {
  padding-left: 60px;
}

.body-container {
  padding: 0 45px 30px 45px;
  padding-top: 70px;
  min-height: 100vh;
}
.body-container-light {
  background: #f2f7fa;
}
.body-container-dark {
  background: #4A4E56;
}

.logo-image {
  width: 150px;
  height: 66px;
  background-image: url(./assets/images/logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.orders-section-container {
  margin: 30px 0;
}

.dropdown-button dropdown-toggle btn btn-default > .caret {
  color: #479dc8;
}

/* changing bootstrap-dropdown styles */
.dropdown-menu {
  width: 100%;
}
.dropdown-menu > li {
  text-align: center;
}
.dropdown-menu > li > a {
  margin-left: 0;
}
