.buy-sell-fields-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.buy-sell-fields-tab-left {
  margin-right: 36px;
}

.buy-sell-fields-tab-left,  .buy-sell-fields-tab-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  border-radius: 10px;
  background: #fff;
  position: relative;
  border: 1px solid rgb(225, 228, 230);
  cursor: pointer;
}

.buy-sell-fields-tab-left > div:nth-child(2),  .buy-sell-fields-tab-right > div:nth-child(2) {
  margin-right: 30px
}

.buy-sell-item-active {
  border: 1px solid white;
}

.buy-sell-fields-item-left {
  font-size: 14px;
  position: absolute;
  top: 7px;
  left: 13px;
}

.buy-sell-fields-item-right {
  display: flex;
  font-size: 30px;
  font-weight: 700;
}

.buy-sell-fields-item-right > div:nth-child(1) {
  line-height: 37px;
}
.buy-sell-fields-item-right > div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  margin-left: 4px;
}

.buy-sell-fields-tab-middle-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: -46px;
  background: #ffffff;
  height: 20px;
  width: 56px;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: 0 0 5px #95989A;
  z-index: 2;
}

.buy-sell-fields-tab-middle-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: -31px;
  background: #ffffff;
  height: 18px;
  width: 26px;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: 0 0 5px #95989A;
  z-index: 2;
}

.buy-sell-fields-tab-active {
  border: 1px solid;
  color: #1789F5;
}

.buy-sell-arrow {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 15px;
  height: 15px;
}
.buy-sell-arrow-left {
  left: 10px;
}
.buy-sell-arrow-right {
  right: 10px;
}
