.updown-arrows {
  width: 100px;
  width: 100px;
  width: 27px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow-up {
  background-image: url(../assets/images/arrow-up.png);
}
.arrow-down {
  background-image: url(../assets/images/arrow-down.png);  
}
