.aside-navigation-icon {
  width: 27px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.dashboard-icon {
  mask-image: url(../assets/ui_kit/Icons/dashboard.svg);
}
.accounts-icon {
  mask-image: url(../assets/ui_kit/Icons/account.svg);
}
.orders-icon {
  mask-image: url(../assets/ui_kit/Icons/exchange.svg);
}
.campaigns-icon {
  mask-image: url(../assets/ui_kit/Icons/campaigns.svg);
}
.analytics-icon {
  mask-image: url(../assets/ui_kit/Icons/increasing-chart.svg);
}
.reports-icon {
  mask-image: url(../assets/ui_kit/Icons/reports.svg);
}
.email-icon {
  mask-image: url(../assets/ui_kit/Icons/email.svg);
}
.settings-icon {
  mask-image: url(../assets/ui_kit/Icons/settings.svg);
}
.calendar-icon {
  mask-image: url(../assets/ui_kit/Icons/calendar.svg);
}
.icon-light {
  background-color: black;
}
.icon-dark {
  background-color: white;
}
