.orders-container {
  height: 100%;
}
.orders-container-dark {
  background: #474e56;
}
.orders-container-dark input {
  border: 0px;
  background: #777;
}
.orders-container-light {
  background: #f2f7fa;
}

.orders-nav {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}

.orders-nav > div {
  height: 100%;
  padding: 30px 0;
}
.orders-nav > div:hover {
  border-top: 3px solid #1789f5;
}
.orders-header-item-highlighted {
  border-top: 3px solid #1789f5;
}

.orders-body {
  margin-top: 50px;
}
