.fix-option-instruments, .fix-option-characteristics {
  display: flex;
}

.fix-option-instruments {
  margin-bottom: 50px;
}

.fix-option-characteristics {
  margin-top: 50px;
}

.fix-option-container {
  padding: 0px;
}

.fix-option-container > hr {
  width: 90%;
}

.section-item-label {
  margin-right: 10px;
}

.fix-option-table-item {
  display: flex;
  align-items: center;
  margin: 10px;
}
.fix-option-label {
  text-align: right;
}

.fix-option-note {
  margin-left: 10px;
}

.fix-option-dropdown, .fix-option-text-input {
  width: 110px;
  color: #95989a;
}

.fix-option-inputs {
  border-radius: 7px;
  height: 45px;
}

.fix-option-text-input {
  color: #1b8bf5;
}

.flex-vertical-align {
  display: flex;
  align-items: center;
}

.fix-option-button {
  width: 150px;
  height: 35px;
}

.blue-button {
  border: 0px;
  background: #1789f5;
}

.orange-button {
  border: 0px;
  background: #ffc400;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.margin-input {
  color: #95989a;
}

/*Bonds*/

.fix-option-container-bonds {
  padding: 0px;
}

.fix-option-instruments-bonds {
  margin-bottom: 20px;
}

.fix-option-characteristics-bonds {
  padding-bottom: 50px;
}
.fix-option-table-item-bonds {
  display: flex;
  align-items: center;
}

.fix-option-dropdown-bonds, .fix-option-text-input-bonds {
  width: 340px;
  color: #95989a;
}

.fix-option-text-input-bonds {
  color: #1b8bf5;
}

.bottom-buttons-bonds {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  padding-bottom: 30px;
}

/*Loan/Depo*/

.bottom-buttons-depo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  padding-bottom: 30px;
}

.conterparty-note-depo {
  color: #FFC400;
  font: OpenSans-Bold;
}
